.hotaccessoriescard{
    display: flex;
    padding: 25px;
}
.hotaccessdiv{
    margin: 10px;
}
.hotaccessoriescard>div>p{
    width: 15px;
}
.hotcardimg{
    width: 150px;
    background: transparent;
}