.hotMenu{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hotMenu>div>img{
    width: 200px;
    height: 300px;
}
.hotMenuLink{
    text-decoration: none;
    color: black;
}
.hotMenuLink>h5{
    margin-left: 28%;
}
.hotMenuLink>h5:hover{
    color: black;
}