
.signin{
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-left: 370px;
}
.signin > form{
    height: 50%;
    /* padding-bottom: 500px; */
}
.signin>form>div{
    margin: 15px;
}

.signin>form>div>input{
    width: 280px;
    height: 25px;
    outline: none;
    
}
.signin>form>div>input:focus{
    border: 3px solid #555;
}

.forgotPass{
    padding-right: 120px;
}
.signin-btn-1{
    width: 280px;
    height: 35px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
}
.signin-btn-2{
    width: 280px;
    height: 35px;
    background-color: #00BFFF;
    color: #ffffff;
    border: none;
}